
  td {
    /* border-bottom: 1px solid #ddd; */
    width:450px;
    height: 35px;
    text-align: center;
    font-family:cursive;
    color:darkmagenta;
    font-weight: bold;
    
  }

   thead tr td{
    /* border-bottom: 1px solid #ddd; */
    width:450px;
    text-align: center;
    background-color:rgb(255, 187, 98);
    font-weight: bolder;
    color: black;
    height: 65px;
  }
  .image{
    height:auto; 
    background-color: #e6f5f4;
    padding: 32px;
  }

  .bb{
    border:none;
    background:transparent;
    font-family:cursive;
    color:darkmagenta;
    font-weight: bold;
  }

  .tt thead tr td{
    width: 100em;
    align-items: center;
    margin-left: -23em;
    color: greenyellow;
    background-color: darkgray;
    /* margin-right: 25em; */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .tt td{
    color: aqua;
    background-color: black;
  }
  .tt{
    width: 100em;
    align-items: center;
    margin-left: -10em;
    /* margin-right: 25em; */
  }
  .header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: bolder;
    color: black;
    width: 100%;
    padding: 32px;
  }
