td {
  /* border-bottom: 1px solid #ddd; */
  width:450px;
  height: 30px;
  text-align: center;
  /* background-color:rgb(202, 110, 202); */
  /* font-family:cursive; */
  color:darkmagenta;
  font-weight: bold;
  
}

 thead th{
  /* border-bottom: 1px solid #ddd; */
  width:450px;
  text-align: center;
  /* background-color:burlywood; */
  font-weight: bolder;
  font-family:cursive;
  background-color:rgb(255, 187, 98);
  height: 60px;
}
.image{
  height: auto;
  padding: 20px;
  background-color: #e6f5f4;
}
.header{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-weight: bolder;
  color: black;
  width: 100%;
  padding: 32px;
}