
<nav>
    <!-- <img src=".\assets\Kaar-Logo-.png"> -->
    <img src="assets/images/Kaar-Logo-.png">
    <ul>
        <li><mat-icon color="primary" class="logo" aria-hidden="false" aria-label="Example home icon" (click)="onhomelogo('loginpage')">home</mat-icon></li>
        <li><mat-icon  class="logo" aria-hidden="false" aria-label="Example home icon" (click)="onlogoutlogo('')">logout</mat-icon></li>
        <!-- <li><a routerLink="">HOME</a></li> -->
    </ul>
</nav>

<!-- <mat-icon>Home</mat-icon>
<mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
<mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label="Example thumbs up SVG icon"></mat-icon> -->

          
