<div class="image">
    <div class="header">Payments Aging</div>
    <div class="input-div"><input class="input-search" placeholder="Search By Account Number" [(ngModel)]="enteredSearchText"></div>

<div class="container">
    <table border="2px" [cellPadding]="1">
<thead>
    <th>
        <span>CUSTOMER ID</span>
    </th>
    <th>
        <span>DOCUMENT NO</span>
    </th>
    <th>
        <span>COMPANY CODE</span>
    </th>
    <th>
        <span>DOCUMENT TYPE</span>
    </th>
    <th>
        <span><span>AMOUNT</span></span>
    </th>
    <th>
        <span>FISC</span>
    </th>
    <th>
        <span>CURRENCY</span>
    </th>
    <th>
        <span>DUEDAYS</span>
    </th>
    <th>
        <span>TAX CODE</span>
    </th>
</thead> 


<tbody>
    <ng-container *ngFor='let row of cuspay'>
    <tr *ngIf="enteredSearchText === '' || row.DOC_NO[0].includes(enteredSearchText)" (click)="detail(row)">
        <td>
            {{+row.CUSTOMER}}
        </td>
        <td>
            {{row.DOC_NO}}
        </td> 
        <td>
            {{row.COMP_CODE}}
        </td>  
        <td>
            {{row.DOC_TYPE}}
        </td>
        <td>
            <span class="amt">
            {{round(row.AMOUNT)}}
            </span>
        </td> 
        <td>
            {{row.FISC_YEAR}}
        </td> 
        <td>
            {{row.CURRENCY}}
        </td>
        <td>
            {{row.DUEDAYS}}
        </td>
        <td>
            {{row.TAX_CODE}}
        </td>
     
    </tr>
</ng-container>
</tbody>
    </table>
          
<!-- Modal -->

<div class="modal"  tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="tt">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closePopup()"></button>
        </div>
        <div class="modal-body">
            <div>
                <p class="pop-title">Customer ID : <span class="pop-value">{{docnumber}}</span></p>
                <p class="pop-title">Document Number : <span class="pop-value">{{docnumber1}}</span></p>
                <p class="pop-title">Company Code : <span class="pop-value">{{docnumber2}}</span></p>
                <p class="pop-title">Document Type : <span class="pop-value">{{docnumber3}}</span></p>
                <p class="pop-title">Amount : <span class="pop-value">{{docnumber4}}</span></p>
                <p class="pop-title">Fisc : <span class="pop-value">{{docnumber5}}</span></p>
                <p class="pop-title">Currency : <span class="pop-value">{{docnumber6}}</span></p>
                <p class="pop-title">Due Days : <span class="pop-value">{{docnumber7}}</span></p>
                <p class="pop-title">Tax Code : <span class="pop-value">{{docnumber8}}</span></p>
              </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closePopup()">Close</button>
        </div>
      </div>
    </div>
    </div>
  </div>    
  </div>
  </div>
  