<div class="full">
    <div class="head-element"><h1 class="heading"> Finance Information</h1></div>
    <div class="image">
        <div class="b1" text="Invoice Details" (click)="onveninvoice('veninvoice')"><span>Invoice Details</span>
        </div>
        <div class="b1" text="Payments & Aging" (click)="onvenpay('venpay')"><span>Payments & Aging</span></div>
        <div class="b1" text="Credit Memo" (click)="onvencredit('vencredit')"><span>Credit Memo</span></div>
        <!-- <div class="b1" text="Debit Memo" (click)="onvendebit('vendebit')"><span>Debit Memo</span></div> -->
        
                  
        </div>
</div>