<div div="cust-finance">
    <div class="head-element"><span class="heading">Customer Finance</span></div>
    <div class="image">
        <div class="b1" text="" (click)="oncustinvoice('custinvoice')"><span>Invoice Details</span></div>
        <div class="b1" text="" (click)="oncustpay('custpay')"><span>Payments & Aging</span></div>
        <div class="b1" text="" (click)="oncustcredit('custcredit')"><span>Credit Memo</span></div>
        <div class="b1" text="" (click)="oncustcredit('custdebit')"><span>Debit Memo</span></div>
    </div>
</div>