<div class="full">
  <div class="head-element"><h1 class="heading">Vendor Dashboard</h1></div>
  <div class="image">
    <div class="b1" text="Request for Quotation" (click)="onrequest('venreq')">
      <span>Request for Quotation</span>
    </div>
    <div class="b1" text="Purchase Order" (click)="onpurchase('venpurchase')">
      <span>Purchase Order</span>
    </div>
    <div class="b1" text="Goods Receipt" (click)="ongoods('vengoods')">
      <span>Goods Receipt</span>
    </div>
  </div>
</div>
