<div class="image">
    <div class="login-box">
        <h2>Forgot Password</h2>
        <form class="log">
          <div class="input">
            <label>Username </label>
            <input type="text" name="user" [(ngModel)]="username" class="ip-box form-control" />
          </div>
          <div class="input">
            <label> New Password </label>
            <input
            id="npassword"
              type="password"
              name="password"
              [(ngModel)]="newPassword"
              class="ip-box"
            />
          </div>
          <div class="input">
            <label>Confirm Password </label>
            <input
            id="cpassword"
              type="password"
              name="password"
              [(ngModel)]="confirmPassword"
              class="ip-box"
            />
          </div>
          <div class="input">
            <input 
              class="button forgot"
              type="submit"
              value="Change Password"
              (click)="Redir('login')"
            />
          </div>
        </form>
      </div>

</div>
