<!-- <p>pdf-payslip works!</p> -->
<div id="image" #image>
  <div id="headerimage"></div>
  <div id="invoice" class="effect2">
    <div id="invoice-top">
      <!-- <div class="logo"></div> -->
      <div class="info">
        <!-- <h2>KAAR TECH</h2>
        <p>www.kaartech.com</p> -->
      </div>
      <!--End Info-->
      <div class="title">
        <h1>Employee ID: {{eid}}</h1>
        <p>
          Issued:  {{paydate}}
        </p>
      </div>
      <!--End Title-->
    </div>
    <!--End InvoiceTop-->

    <div id="invoice-mid">
      <div class="clientlogo"></div>
      <div class="info">
        <h2>{{employeename}}</h2>
        <h3>{{designation}} --> {{department}}</h3>
        <p>Mobile: {{email}}</p>
      </div>

      <!-- <div id="project">
          <h2>Project Description</h2>
          <p>Proin cursus, dui non tincidunt elementum, tortor ex feugiat enim, at elementum enim quam vel purus. Curabitur semper malesuada urna ut suscipit.</p>
        </div>    -->
    </div>
    <!--End Invoice Mid-->

    <div id="invoice-bot">
      <div id="table">
        <table class="tab">
          <tr class="tabletitle">
            <td class="item"><h2>Item Description</h2></td>
            <!-- <td class="Hours"><h2>Hours</h2></td>
              <td class="Rate"><h2>Rate</h2></td> -->
            <td class="subtotal"><h2>Amount in Rs.</h2></td>
          </tr>

          <tr class="service">
            <td class="tableitem"><p class="itemtext">BASIC</p></td>
            <!-- <td class="tableitem"><p class="itemtext">5</p></td>
               <td class="tableitem"><p class="itemtext">$75</p></td> -->
            <td class="tableitem"><p class="itemtext amt">30,000</p></td>
          </tr>

          <tr class="service">
            <td class="tableitem">
              <p class="itemtext">HOUSE RENT ALLOWANCE</p>
            </td>
            <!-- <td class="tableitem"><p class="itemtext">3</p></td>
              <td class="tableitem"><p class="itemtext">$75</p></td> -->
            <td class="tableitem"><p class="itemtext amt">10,000</p></td>
          </tr>

          <tr class="service">
            <td class="tableitem"><p class="itemtext">SPECIAL ALLOWANCE</p></td>
            <!-- <td class="tableitem"><p class="itemtext">5</p></td>
              <td class="tableitem"><p class="itemtext">$75</p></td> -->
            <td class="tableitem"><p class="itemtext amt">7,000</p></td>
          </tr>

          <tr class="service">
            <td class="tableitem"><p class="itemtext">CONVEYANCE</p></td>
            <!-- <td class="tableitem"><p class="itemtext">20</p></td>
              <td class="tableitem"><p class="itemtext">$75</p></td> -->
            <td class="tableitem"><p class="itemtext amt">1,500</p></td>
          </tr>

          <tr class="service">
            <td class="tableitem">
              <p class="itemtext">ONCALL/SHIFT ALLOWANCE</p>
            </td>
            <!-- <td class="tableitem"><p class="itemtext">10</p></td>
              <td class="tableitem"><p class="itemtext">$75</p></td> -->
            <td class="tableitem"><p class="itemtext amt">3750</p></td>
          </tr>

          <tr class="service">
            <td class="tableitem"><p class="itemtext">STAT BONUS</p></td>
            <!-- <td class="tableitem"><p class="itemtext">HST</p></td>
              <td class="tableitem"><p class="itemtext">13%</p></td> -->
            <td class="tableitem"><p class="itemtext amt">2419</p></td>
          </tr>

          <tr class="tabletitle">
            <!-- <td></td> -->
            <!-- <td></td> -->
            <td class="Rate"><h2>Net Pay</h2></td>
            <td class="payment"><h2 class="amt">54,669</h2></td>
          </tr>
        </table>
      </div>
      <!--End Table-->
    </div>
  </div>
</div>
