td {
    /* border-bottom: 1px solid #ddd; */
    width:450px;
    text-align: center;
    /* background-color:burlywood; */
    /* font-family:cursive; */
    font-weight: bolder;
    color: darkmagenta;
    height:30px;
  }

   thead th{
    /* border-bottom: 1px solid #ddd; */
    width:450px;
    text-align: center;
    background-color:rgb(255, 187, 98);
    font-family:cursive;
  }
  .image{
    height: max-content;
    padding: 32px;
    background-color: #e6f5f4;
    
  }
  .header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    font-weight: bolder;
    color: black;
    width: 100%;
    padding: 32px;
  }