
    <div class="image">
        <div class="header">Debit Details</div>
        <div class="container">
            <table border="2px" [cellPadding]="1">
      <thead>
        <th>
            <span>CUSTOMER NUMBER</span>
        </th>
        <th>
          <span>DOCUMENT NUMBER</span>
      </th>
      <th>
          <span>MATERIAL NUMBER</span>
      </th>
      <th>
          <span>PLANT</span>
      </th>
      <th>
          <span>FISCAL YEAR</span>
      </th>
      <th>
          <span>LINE ITEM</span>
      </th>
      <th>
          <span>AMOUNT</span>
      </th>
      <th>
          <span>Quantity</span>
      </th>
        
    </thead> 
  
  
    <tbody>
        <tr *ngFor='let row of vendebit'>
            <td>
                {{row.KUNNR}}
            </td>
            <td>
              {{row.BELNR}}
          </td>
          <td>
              {{row.MATNR}}
          </td>
          <td>
              {{row.WERKS}}
          </td>
          <td>
              {{row.GJAHR}}
          </td>
          <td>
              {{row.BUZEI}}
          </td>
          <td>
              {{row.DMBTR}}
          </td>
          <td>
              {{row.MENGE}}
          </td>
         
        </tr>
    </tbody>
  </table>
            
<!-- Modal -->

<div class="modal"  tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="tt">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closePopup()"></button>
        </div>
        <div class="modal-body">
            <div>
                <p class="pop-title">Customer ID : <span class="pop-value">{{docnumber}}</span></p>
                <p class="pop-title">Document Number : <span class="pop-value">{{docnumber1}}</span></p>
                <p class="pop-title">Company Code : <span class="pop-value">{{docnumber2}}</span></p>
                <p class="pop-title">Document Type : <span class="pop-value">{{docnumber3}}</span></p>
                <p class="pop-title">Amount : <span class="pop-value">{{docnumber4}}</span></p>
                <p class="pop-title">Fisc : <span class="pop-value">{{docnumber5}}</span></p>
                <p class="pop-title">Currency : <span class="pop-value">{{docnumber6}}</span></p>
                <p class="pop-title">Due Days : <span class="pop-value">{{docnumber7}}</span></p>
                <p class="pop-title">Tax Code : <span class="pop-value">{{docnumber8}}</span></p>
              </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closePopup()">Close</button>
        </div>
      </div>
    </div>
    </div>
  </div>    
  </div>
  </div>
  